/*div {
    margin: 1%;
    display: inline-block;
}*/

.card-body {
    border: 2px solid black;
    margin: 5%;
}

.card-text {
    width: 100%;
}

#gauge {
    width:400px; height:320px;
    display: inline-block;
    margin: 1em;
}
