<div class="card card-body">
    <div>
        <div id="{{id}}"></div>
        <div class="card-block">
            <h4 class="card-title">{{cardTitle}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Desired Spend Percentage: {{desiredSpendPercentage}}%</li>
            <li class="list-group-item">Actual Spend Percentage: {{spendPercentage}}%</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>




