/*app-navbar {
  box-sizing:border-box;-moz-box-sizing:border-box;
  z-index:3;
  position:fixed;
  top:0;
  width:100%;
  color:#000;
}*/

.gauge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-body {
    border: 2px solid black;
    margin: 3%;
}

.capitalize {
  text-transform: capitalize;
  text-align: center;
}