<app-navbar></app-navbar>
<!--<div id="header">
  <h1 style="padding:0;margin:0;">&lt; aboutcher /&gt;;</h1>
  Parallax Demo
</div>-->
<div class="content">
  <!--<a href="http://nexus.org.uk/metro/"><img style="float:right;margin-top:10px;margin-right:100px;" src="http://pics.aboutcher.co.uk/cpio/metro-logo.png" alt="Metro Logo"/></a>
  <h2>Welcome to my Parallax CSS Demo</h2>
  <p>I didn't have any cool pictures so I found some appropriate ones I took of the Tyne and Wear Metro.</p>
  <p>All images are copyright myself and Nexus Metro</p>
  <p>The tiniest bit of jquery has been used to set the first images height so it fills the window; this is optional.</p>
  <p>Desktop Support: <strong>Firefox</strong>, <strong>Chrome</strong> and <strong>IE</strong>, it even has basic support for <em>IE7</em> (The images display and work but they need to be HUGE as backgrounds won't stretch).</p>
  <p>Mobile Support: <em>Chrome</em> - <strong>OK</strong>, <em>Android Browser</em> - <strong>Broken</strong>, <em>iOS</em> - <strong>Not Tested</strong>.</p>
  <p>Not responsive but support shouldn't be hard to put in.</p>
  <div style="clear:both;"></div>-->
    HeatMap
</div>
<div class="parallax" id="trans1">
  <div class="heatmap-background">
    <div class="heatmap container">
    </div>
  </div>
    <div class="x-labels">
      <div class="mon">Mon</div>
      <div class="tue">Tue</div>
      <div class="wed">Wed</div>
      <div class="thu">Thu</div>
      <div class="fri">Fri</div>
      <div class="sat">Sat</div>
      <div class="sun">Sun</div>
  </div>
</div>

<div class="content">Topographical Map</div>

<div class="parallax" id="trans2">
  <div id="myDiv"></div> 
</div>

<div class="content">
    
</div>
<div class="parallax" id="trans3">
  <app-stacked-bar></app-stacked-bar>
</div>