<app-navbar></app-navbar>

<app-heatmap></app-heatmap>
<!--<div id="myDiv"></div> -->
<div class="gauge-container">
  <div *ngFor="let g of gaugeStats; let i = index" class="card card-body">
    <div>
      <app-gauge 
        [nodeId]="i"
        [cardTitle]="g.expense_category"
        [desiredSpendPercentage]="g.desired_spend_percentage"
        [spendPercentage]="g.spend_percentage"
        [gaugeMax]="g.gauge_max"
      ></app-gauge>
      <app-horizontal-bar></app-horizontal-bar>
        <div class="card-block">
            <h4 class="card-title">{{g.expense_category}}</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Desired Spend Percentage: {{g.desired_spend_percentage}}%</li>
            <li class="list-group-item">Actual Spend Percentage: {{g.spend_percentage}}%</li>
        </ul>
    </div>
</div>


</div>
<!--<app-stacked-bar></app-stacked-bar>-->
