/*app-navbar {
  box-sizing:border-box;-moz-box-sizing:border-box;
  z-index:3;
  position:fixed;
  top:0;
  width:100%;
  color:#000;
}*/

.gauge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0 !important;
  position: relative;
  /*top: -40px;*/
}

.card-body {
    border: 2px solid black;
    border-radius: 5px;
    margin: 3%;
    box-shadow: 5px 5px 5px #888888;
    padding: 0;
}

.capitalize {
  text-transform: capitalize;
  text-align: center;
}

.shift-up {
  position: relative;
  /*top: -30px;*/
  margin-bottom: 0;
}

.sub-title {
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
}

.stat {
  line-height: 90%
}

.line-break {
  margin: 0;
}