.nav-fade {
    /*background-color: #00cc00 !important;*/
    background: linear-gradient(to bottom right, #00b300, #1aff1a);
    color: black;
}

a {
    color: black !important;
}

a:hover {
    color: pink !important;
}
