<app-navbar></app-navbar>

<div class="container">
  <p class="display-1 page-header">Configure Your Settings</p>

    <ul class="tabrow">
      <li class="selected" #firstLi (click)="selectTab(firstLi, 'expenseCategories')"><span>Expense Categories</span></li>
        <li #secondLi (click)="selectTab(secondLi, 'fixedExpenses')"><span>Fixed Expenses</span></li>
        <li #thirdLi (click)="selectTab(thirdLi, 'income')"><span>Income</span></li>
        <li #fourthLi (click)="selectTab(fourthLi, 'savings')"><span>Spending/Saving Target</span></li>
    </ul>

  <form class="form-group" *ngIf="selectedTab === 'expenseCategories'">
    <app-expense-categories></app-expense-categories>
  </form>

  <div *ngIf="selectedTab === 'fixedExpenses'">
    <app-fixed-expenses></app-fixed-expenses>
  </div>

  <form class="form-group" *ngIf="selectedTab === 'income'">
    <p class="display-1 sub-title">Monthly Net Income</p>
    

  </form>

  <form class="form-group" *ngIf="selectedTab === 'savings'">
    <p class="display-1 sub-title">Desired Monthly Spending/Savings Target</p>
    

  </form>
</div>
