<app-navbar></app-navbar>
<p class="display-1 page-header">Let's Configure Your Settings</p>

<ul class="nav nav-tabs">
  <li class="nav-tab">Expense Categories</li>
  <li class="nav-tab">Fixed Expenses</li>
  <li class="nav-tab">Income</li>
</ul>

<form class="form-group">
  <p class="display-1 sub-title">Add Expense Categories</p>
  <p>We've added a few generic categories, but if you want to track expenses that don't fall into one of these categories, add them to you rchoices here!</p>
  <div class="expense-categories-container">

  </div>
</form>

<form class="form-group">
  <p class="display-1 sub-title">Add Your Fixed Expenses</p>
  <div class="fixed-expense-container">

  </div>
</form>