.sub-title {
    font-size: 2em;
}

.expense-container {
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-bottom: 1px solid limegreen;
    padding-bottom: 2%;
}

.input {
    width: 80%;
    margin: 0 auto;
    margin: 1%;
} 

.add-expense {
    float: right !important;
    background: linear-gradient(to bottom right, #00b300, #1aff1a);
}

.submit-expenses {
    background: linear-gradient(to bottom right, #00b300, #1aff1a);
}

.expense-categories-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.expense-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.expense-list-item {
  width: 40%;
  margin: 1% 2% 1% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.capitalize {
  text-transform: capitalize;
}