<div class="form-container">
<div class="login" *ngIf="!signupForm">
    <p class="display-1 login-header">Login</p>
    <form class="login-form form-group" (ngSubmit)="login(username, password)">
    	  <input class="form-control" type="text" name="u" placeholder="Username" required="required" #username/>
        <input class="form-control" type="password" name="p" placeholder="Password" required="required" #password/>
        <button class="btn btn-success" type="submit" >Login</button>
        <hr>
        <button class="btn btn-success form-control" (click)="signupForm = true">Sign Up</button>
    </form>
</div>

<div class="sign-up" *ngIf="signupForm">
    <p class="display-1 login-header">Sign Up</p>
    <form class="login-form form-group" (ngSubmit)="signUp(firstName, lastName, username, password, passwordConfirmation)">
    	  <input class="form-control" type="text" name="first-name" placeholder="First Name" required="required" #firstName/>
    	  <input class="form-control" type="text" name="last-name" placeholder="Last Name" required="required" #lastName/>
    	  <input class="form-control" type="text" name="username" placeholder="Username" required="required" #username/>
        <input class="form-control" type="password" name="password" placeholder="Password" required="required" #password/>
        <input class="form-control" type="password" name="confirm-password" placeholder="Confirm Password" required="required" #passwordConfirmation/>
        <button class="btn btn-success" >Sign Up</button>
        <hr>
        <button class="btn btn-success form-control" (click)="signupForm = false">Login</button>
    </form>
</div>
</div>