.spent {
    background-color: #FB1C16;
    height: 25px;
    padding: 0!important;
    margin: 0!important;
    color: white;
    text-align: center;
}

.budget-left {
    background-color: #E0E0E0;
    height: 25px;
    padding: 0!important;
    margin: 0!important;
    color: white;
    text-align: center;
}

.bar-container {
    display: flex;
    flex-direction: row;
}

.red {
    color: #FB1C16;
}

.green {
    color: #12D512
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.month {
    margin-top: 10px;
}

.days-passed {
    background-color: #D20080;
}

.days-left {
    background-color: #E0E0E0;
}

.days-passed-text {
    color: #D20080;
}

.days-left-text {
    color: #E0E0E0;
}
